.projectDiv {
    width: 100%;
    min-height: 100%;
    padding: 100px 100px 100px 80px;
}
.projectText {
    width: 100%;
    height: 10rem;
}
.projectTop {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    color: #b4b2c5;
    font-size: 20px;
    font-weight: 600;
}
.projectHead {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 700;
    color: #130f49;
}
.projectBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.project {
    width: 49%;
    padding: 2rem;
    background-color: #e1e1f0;
    border-radius: 15px;
    cursor: pointer;
}
.project:hover {
    background-color: #cac7f4;
}
.project:nth-child(odd) {
    margin-right: 2%;
}
.project:nth-child(1), .project:nth-child(2) {
    margin-bottom: 2%;
}
.projectTitle {
    width: 100%;
    height: 4rem;
    display: flex;
}
.projectLogo {
    width: 4rem;
    height: 100%;
    background-color: #9995d1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.projectName {
    width: 87%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    font-size: 27px;
    font-weight: 600;
    color: #130f49;
}
.projectInfo {
    width: 100%;
    padding-top: 1.5rem;
    font-size: 20px;
    font-family: serif;
    line-height: 1.8rem;
    word-spacing: 0.1rem;
    color: #55527c;
}
@media (width < 991px) {
    .projectDiv {
        padding: 50px 30px 80px 30px;
    }
    .projectTop {
        font-size: 18px;
    }
    .projectHead {
        font-size: 45px;
    }
    .projectBox {
        flex-direction: column;
        gap: 1.5rem;
    }
    .project {
        width: 100%;
    }
    .project:hover {
        transform: scale(1.01, 1.01);
    }
    .project:nth-child(odd) {
        margin-right: 0%;
    }
    .project:nth-child(1), .project:nth-child(2) {
        margin-bottom: 0%;
    }
    .projectLogo {
        width: 5rem;
    }
    .projectName {
        font-size: 24px;
    }
}